<div class="trasparent">
<ion-content class="ion-no-padding" lines="none" class="" >
  <ion-label class="">
    <ion-chip ><b>Pierluigi Amati</b>
      <ion-avatar>
        <img src="https://www.gravatar.com/avatar/3?d=monsterid&amp;f=y">
      </ion-avatar>
    </ion-chip>
    <ion-chip ><b>Luidi di Marcantonio</b>
      <ion-avatar>
        <img src="https://www.gravatar.com/avatar/5?d=monsterid&amp;f=y">
      </ion-avatar>
    </ion-chip>
    <ion-chip ><b>William Lattanzi</b>
      <ion-avatar>
        <img src="https://www.gravatar.com/avatar/1?d=monsterid&amp;f=y">
      </ion-avatar>
    </ion-chip>
    <ion-chip ><b>Alessandro Cavatassi</b>
      <ion-avatar>
        <img src="https://www.gravatar.com/avatar/6?d=monsterid&amp;f=y">
      </ion-avatar>
    </ion-chip>
  </ion-label>
</ion-content>

</div>