<ion-content>
<ion-list class="md list-md hydrated">
  <ion-list-header class="md hydrated">Impostazioni</ion-list-header>
  <ion-item (click)="presentFeeds();" class="item ios in-list ion-activatable ion-focusable hydrated">Feeds<ion-icon name="megaphone-outline" slot="end"></ion-icon></ion-item>
  <ion-item  (click)="logout();"class="item ios in-list ion-activatable ion-focusable hydrated">Logout<ion-icon name="exit-outline" color="danger" slot="end"></ion-icon></ion-item>
</ion-list>
</ion-content>