
<script type="module" src="https://unpkg.com/@ionic/pwa-elements@latest/dist/ionicpwaelements/ionicpwaelements.esm.js"></script> <script nomodule src="https://unpkg.com/@ionic/pwa-elements@latest/dist/ionicpwaelements/ionicpwaelements.js"></script>

<ion-header translucent>
  <ion-toolbar>
    <ion-title>Pannello aggiunta spese</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen class="ion-padding">
  <ion-fab horizontal="end" vertical="top" slot="fixed" edge>
    <ion-fab-button size="small" color="success" (click)="onFormSubmit()" [disabled]="!myForm.valid">
      <ion-icon name="add-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <form [formGroup]="myForm" (ngSubmit)="onFormSubmit()">
  <ion-grid>
    <ion-row>
      <ion-col class="ion-no-padding">
        <ion-row>
          <ion-col>
            <h4 align="center">Informazioni Spesa</h4>
          </ion-col>
        </ion-row>
        <ion-item>
          <ion-label>Chi ha pagato la spesa?</ion-label>
          <ion-select multiple="true" cancelText="Cancel" okText="Okay!" formControlName="pagatori">
            <ng-container *ngFor="let ug of ug2$">
            <ng-container *ngIf="ug.gruppo.id === g$.id">
            <ion-select-option value="{{ug.utente.id}}-{{ug.utente.nome}}">{{ug.utente.nome}} {{ug.utente.cognome}}</ion-select-option>
          </ng-container> 
            </ng-container>
          
          </ion-select>
          <p ion-text class="text05 ml-3" *ngIf="myForm.get('pagatori').touched && myForm.get('pagatori').invalid">
            <ion-text color="danger small">{{ "E' richiesto almeno un pagatore" }}</ion-text>
          </p>
        </ion-item>
        <ion-item>
          <ion-label>Descrizione</ion-label>
          <ion-input formControlName="descrizione" type="text" placeholder="Inserisci qui la descrizione della spesa!" ></ion-input>
        </ion-item>
        <p ion-text class="text05 ml-3" *ngIf="myForm.get('descrizione').touched && myForm.get('descrizione').invalid">
          <ion-text color="danger small">{{ 'Descrizione Richiesta' }}</ion-text>
        </p>
       
      
          <ion-input #piero type="button" (click)="openCamera(piero)" value="Scatta una foto"><ion-icon name="camera"></ion-icon></ion-input>
      </ion-col>
    </ion-row>
    <ion-row class="mt-2">
      <ion-col>
        Partecipanti al gruppo:
      </ion-col>
    </ion-row>
    <ion-row #row class="ion-padding mb-2 mt-2">
      <ng-container *ngFor="let ug of ug2$; last as isLastChip;">
        <ng-container *ngIf="ug.gruppo.id === g$.id"> 
      <ion-chip #chip (click)="setPartecipanteSingolo(ug.utente,chip,row)" >
          <b>{{ug.utente.nome}} {{ug.utente.cognome}}</b>
        <ion-avatar>
          <img src={{ug.utente.link}} />
        </ion-avatar>
      </ion-chip>
    
      <ion-chip #chip *ngIf="isLastChip" (click)="setAllPartecipanti(chip,row)" >
        <b>TUTTI</b>
    </ion-chip>
        </ng-container>
      </ng-container>
    </ion-row>
    <ion-row>
      <ion-col>
        <h4 position="stacked" align="center">Componenti della spesa</h4>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
      <ng-container formArrayName="spese">
            <ng-container *ngFor="let spesa of myForm.get('spese')['controls']; let i = index; "[formGroupName]="i">
              
              <ion-card align="center">
                <ion-card-header>
                  
                  <ion-card-title><b item-center >Importo spesa</b> </ion-card-title>
                  <ion-input placeholder="Inserisci qui il totale della spesa o le singole componenti" type="text" #input (input)="inputValidator(input,val)"> €</ion-input>
                  <ion-input disabled #val value="" formControlName="importo" > Importo totale della componente: </ion-input>
                 
                </ion-card-header>
                <ion-card-content>
                  <ng-container formArrayName="partecipanti">
                    <ng-container *ngFor="let partecipante of spesa.get('partecipanti').controls;  last as isLast; let j=index"  [formGroupName]="j">
                      <ng-container *ngIf="j!=0" >
                      <ion-input placeholder="Partecipanti {{j}}" formControlName="idPartecipante" type="number" hidden > </ion-input>
                      <ion-chip  >
                      <ion-avatar position="start" >
                        <img id="{{j}}-{{i}}" #immagine/>
                      </ion-avatar>
                      <b id="{{j}}-{{i}}" #nome>   </b>
                      <ion-icon name="close-circle" color ="danger" position="end" (click)="delete(spesa.controls.partecipanti, j)"></ion-icon>
                    </ion-chip>
                  </ng-container>
                    <ion-item class="mb-2" href="#" *ngIf="isLast" (click)="addNewPartecipante(spesa.controls.partecipanti,i,j)">
                      <ion-icon name="person-add-outline" position="start"></ion-icon>
                      <ion-label align="center">Clicca qui per aggiungere partecipanti </ion-label> 
                    </ion-item>
                    <button *ngIf="isLast" ion-button icon-only item-right clear type="button" (click)="deleteSpesa(i)">
                      <ion-icon name="trash-outline" color="danger"></ion-icon>
                    </button>
                  </ng-container>
                </ng-container>
              </ion-card-content>
            </ion-card> 
          </ng-container>
        </ng-container>
      </ion-col>
    </ion-row>
          <ion-button class="mt-2" shape="round" expand="block" (click)="addNewSpesa()">Aggiungi componente</ion-button>
  </ion-grid>
</form>

</ion-content>
