<ion-slides pager="true" [options]="slideOpts">
  <ion-slide>
    <app-logo></app-logo>
    <h2>Welcome to MyDues</h2>
    <p>Gestisci in modo semplice e diretto le spese nei tuoi gruppi. Organizza facilmente vacanze, spese di casa e di gruppo in pochi click e tutto a portata di mano!</p>
  </ion-slide>
  <ion-slide>
    <h2>Univaq project</h2>
    <p>Applicazioni per dispositivi mobili</p>
    
    <ion-img src="assets/images/logo_univaq.gif" alt="logo_univaq" title="logo_univaq"></ion-img>
  </ion-slide>
  <ion-slide>
    <h2>Start and try</h2>
    <app-start></app-start>
  </ion-slide>

</ion-slides>

  
