<ion-item>
  <ion-label>Scegli la tua immagine!</ion-label>
  <ion-segment color="success">
    <ion-row>
      <ion-col>
        <ion-segment-button value="home"class=" mt-2">
          <img src="https://www.gravatar.com/avatar/1?d=monsterid&amp;f=y">
        </ion-segment-button>

        <ion-segment-button value="home1" class=" mt-2">
          <img src="https://www.gravatar.com/avatar/2?d=monsterid&amp;f=y">
        </ion-segment-button>

        <ion-segment-button value="home2" class=" mt-2">
          <img src="https://www.gravatar.com/avatar/3?d=monsterid&amp;f=y">
        </ion-segment-button>

        <ion-segment-button value="piero" class=" mt-2">
          <img src="https://www.gravatar.com/avatar/4?d=monsterid&amp;f=y">
        </ion-segment-button>
      </ion-col>
      <ion-col>
        <ion-segment-button value="home3"class=" mt-2">
          <img src="https://www.gravatar.com/avatar/6?d=monsterid&amp;f=y">
        </ion-segment-button>
      <ion-segment-button value="home4"class=" mt-2">
        <img src="https://www.gravatar.com/avatar/7?d=monsterid&amp;f=y">
      </ion-segment-button>
      <ion-segment-button value="home5"class=" mt-2">
        <img src="https://www.gravatar.com/avatar/8?d=monsterid&amp;f=y">
      </ion-segment-button>
      <ion-segment-button value="home6"class=" mt-2">
        <img src="https://www.gravatar.com/avatar/9?d=monsterid&amp;f=y">
      </ion-segment-button>
    </ion-col>
    </ion-row>
  </ion-segment>

  
  
  
  
  
</ion-item>